* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.zip binary
*.7z binary
*.gz binary
*.dll binary
*.exe binary
*.pdb binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
